---
# Handlers for HAProxy role

- name: Restart haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: restarted
    daemon_reload: true

- name: Reload haproxy
  ansible.builtin.systemd:
    name: haproxy
    state: reloaded
