---
# PostgreSQL 17 Installation and Configuration

- name: Add PostgreSQL APT repository key
  ansible.builtin.apt_key:
    url: https://www.postgresql.org/media/keys/ACCC4CF8.asc
    state: present

- name: Add PostgreSQL APT repository
  ansible.builtin.apt_repository:
    repo: "deb http://apt.postgresql.org/pub/repos/apt {{ ansible_distribution_release }}-pgdg main"
    state: present
    filename: pgdg

- name: Install PostgreSQL 17
  ansible.builtin.apt:
    name:
      - "postgresql-{{ postgresql_version }}"
      - "postgresql-client-{{ postgresql_version }}"
      - "postgresql-contrib-{{ postgresql_version }}"
      - "postgresql-{{ postgresql_version }}-pglogical"
    state: present
    update_cache: true

- name: Stop PostgreSQL for data directory move
  ansible.builtin.systemd:
    name: postgresql
    state: stopped

- name: Check if data has been moved
  ansible.builtin.stat:
    path: "/pgdata/{{ postgresql_version }}/main/PG_VERSION"
  register: pgdata_moved

- name: Move PostgreSQL data to dedicated volume
  when: not pgdata_moved.stat.exists
  block:
    - name: Create PostgreSQL data directory structure
      ansible.builtin.file:
        path: "/pgdata/{{ postgresql_version }}"
        state: directory
        owner: postgres
        group: postgres
        mode: '0700'

    - name: Move existing data to new location
      ansible.builtin.command:
        cmd: "mv {{ postgres_data_dir }} /pgdata/{{ postgresql_version }}/"
      args:
        creates: "/pgdata/{{ postgresql_version }}/main"

    - name: Create symlink for data directory
      ansible.builtin.file:
        src: "/pgdata/{{ postgresql_version }}/main"
        dest: "{{ postgres_data_dir }}"
        state: link
        owner: postgres
        group: postgres

- name: Configure postgresql.conf
  ansible.builtin.template:
    src: postgresql.conf.j2
    dest: "{{ postgres_config_dir }}/postgresql.conf"
    owner: postgres
    group: postgres
    mode: '0644'
  notify: Restart postgresql

- name: Configure pg_hba.conf
  ansible.builtin.template:
    src: pg_hba.conf.j2
    dest: "{{ postgres_config_dir }}/pg_hba.conf"
    owner: postgres
    group: postgres
    mode: '0640'
  notify: Reload postgresql

- name: Start and enable PostgreSQL
  ansible.builtin.systemd:
    name: postgresql
    state: started
    enabled: true

- name: Wait for PostgreSQL to be ready
  ansible.builtin.wait_for:
    port: "{{ postgres_port }}"
    delay: 5
    timeout: 60

- name: Create replication user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ replication_user }}"
    password: "{{ replication_password }}"
    role_attr_flags: SUPERUSER,REPLICATION,LOGIN
    state: present

- name: Create pglogical user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ pglogical_user }}"
    password: "{{ pglogical_password }}"
    role_attr_flags: SUPERUSER,REPLICATION,LOGIN
    state: present

- name: Create healthcheck user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ healthcheck_user }}"
    password: "{{ healthcheck_password }}"
    role_attr_flags: LOGIN
    state: present

- name: Create application database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ app_db_name }}"
    owner: postgres
    encoding: UTF8
    lc_collate: en_US.UTF-8
    lc_ctype: en_US.UTF-8
    template: template0
    state: present

- name: Create application user
  become: true
  become_user: postgres
  community.postgresql.postgresql_user:
    name: "{{ app_db_user }}"
    password: "{{ app_db_password }}"
    db: "{{ app_db_name }}"
    state: present

- name: Grant privileges to application user
  become: true
  become_user: postgres
  community.postgresql.postgresql_privs:
    db: "{{ app_db_name }}"
    privs: ALL
    type: database
    role: "{{ app_db_user }}"

- name: Create repmgr database
  become: true
  become_user: postgres
  community.postgresql.postgresql_db:
    name: "{{ replication_db }}"
    owner: "{{ replication_user }}"
    encoding: UTF8
    state: present
